# Ignore Python bytecode and cache directories
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

.DS_Store

# Ignore VS Code settings
.vscode/
.idea/

# Ignore FastAPI logs or temp files
logs/
*.log
data/input/neo4j_schema.faiss
data/input/neo4j_schema.rows.npy
